#about {
  /* height: 80vh; */
  margin-top: 90px;
  display:flex;
  flex-direction: column;
}
#about  .about-content{
  display:flex;
  justify-content: center;
  
}
#about h1{
  color:#1f6457;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  margin-bottom: 70px;
}
#about .join-community {
  background-color: #2c9481;
  color: white;
  border-radius: 40px;
  margin: 20px;
  width: fit-content;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 40px;
}
#about .join-community:hover {
  background-color: transparent;
  color: #00725e;
  background-color: #fff;
  font-weight: 800;
  border: 1px solid #00725e;
}
#about .paragraphs {
  margin-left: 60px;
  font-size: 1.3rem;
  width:40%;
}
#about .paras {
  margin-bottom: 50px;
}
#about  .image{
  width:45%;
}
#about .title {
  /* text-align:center; */
  display: flex;
  font-weight:100;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom:70px;
  max-width: 80%; /* Adjust the max-width as needed */
  margin-left: auto;
  margin-right: auto;
  color: #000;
  font-style: italic;
}
#about .line {
  flex-grow: 1;
  height: 2px;
  background-color:#00715d;
}

#about  .line::before,
.line::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: black;
}
#about .line::before {
  margin-right: 50px;
   /* Adjust as needed */
}
#about .line::after {
  margin-left: 50px; /* Adjust as needed */
}
#about .quote-section{
  display: flex;
  flex-direction: column;
  
}
#about .boxes{
  display: flex;
  justify-content: space-around;
  margin:0px 10%;
  margin-bottom: 60px;
}
#about .box{
  width:25%;
  padding:20px;
  border:1px solid #1f6457;
  box-shadow: 1px 1px 2px #1f6457;
  margin:20px;
}
#about .profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about h3{
  margin: 20px 0;
}
#about .boxpara{
margin-bottom: 30px;
}
@media screen and (max-width: 960px) {
  #about{
    height:fit-content;
    /* margin-bottom:30px; */
  }
  #about .paragraphs {
    margin-left: 40px;
    font-size: 1.2rem;
    width:80%;
  }
  
  #about  .about-content{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width:100%;
  }
  #about  .image{
    width:70%;
    margin-bottom:30px;
  }
}