
body{
  margin:0;
  padding:0;
}
#home .content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  box-shadow: 0px 10px 30px #000;
}

#home .text-container {
  flex: 1;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#home .text-container h1 {
  font-size: 6rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
  text-shadow: 3px 3px 3px rgba(17, 36, 10, 0.9);
}

#home .text-container p {
  font-size: 1.9rem;
  color:#113c0a ;
  /* opacity: 0.8; */
  margin-top:50px ;
  width:60%;
  text-shadow: 3px 0px 4px rgb(255, 255, 255);
  font-weight: 800;
  z-index: 100;
  font-style:italic;
}
#home .text-container h2{
  color:rgb(255, 255, 255);
  font-size: 2rem;
  text-shadow: 0px 0px 19px #000000;
  font-style:italic;
  /* background-color: #000000; */
  
}
#home .button-container {
  flex: 1;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}



#home .donate-button {
  background-color: #00725E;
  color: white;
  border-radius: 40px;
  margin:20px;
  width:fit-content;
  padding:10px;
  text-decoration: none;
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.9); 
}
#home .donate-button:hover {
  background-color: transparent;
  color: #00725E;
  background-color: #fff;
  font-weight: 800;
  border: 1px solid #00725E;
}
#home .applicant-button {
  background-color: #896c15;
  color: white;
  border-radius: 40px;
  padding:10px;
  text-decoration: none;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.9); 
}
#home .applicant-button:hover {
  background-color: white;
  
  font-weight: 800;
  color: #896c15;
  border: 2px solid #896c15;
}
#home .application{
  height:80vh;
}
#home .contact{
  height:20vh;
}
#home .title {
  /* text-align:center; */
  display: flex;
  font-weight:100;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom:70px;
  max-width: 60%; /* Adjust the max-width as needed */
  margin-left: auto;
  margin-right: auto;
  font-style: italic;

}

#home .line {
  flex-grow: 1;
  height: 2px;
  background-color:#00715d;
}

#home  .line::before,
.line::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: black;
}
#home .line::before {
  margin-right: 10px;
   /* Adjust as needed */
}
#home .line::after {
  margin-left: 10px; /* Adjust as needed */
}
#home .promo {
  display: flex;
  
  justify-content: space-around;
  align-items: center;
}

#home .promobox {
  text-align: center;
}

#home .count {
  font-size: 24px;
  margin-bottom: 5px;
  color:#00715d;
}

#home .countof {
  font-size: 16px;
  color: #888;
}

#home .arrow-container {
  position: relative;
  width: 100%; /* Adjust width as needed */
  height: 10px; /* Adjust height as needed */
 
}

#home .arrow-box {
  position: absolute;
  top: 50%;
  right: 20px; /* Adjust distance from right side */
  transform: translateY(-50%);
}

#home .arrow {
  font-size: 24px;
  color:#00715d;
  cursor: pointer; /* Adjust arrow size as needed */
}


@media screen and (max-width: 960px)  {
  #home .title{
    font-size: 1.5rem;
  }
 }

