#girlchild {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    
  }
  
  #girlchild .progress {
    display: flex;
    justify-content: center;
  }
  
  #girlchild .progress span {
    margin-left: 10px;
  }
  
  #girlchild .content {
    display: flex;
    flex-direction: row;
    /* height: fit-content; */
    justify-content: space-around;
    /* margin:30px; */
    padding: 10px;
     
  }
  
  #girlchild .details {
    /* flex: 1; */
    /* height: fit-content; */
    padding: 45px;
    border:9px solid #00715d;
    margin-right: 70px;
    width: 50%;
    color:#0a231e;
    height: 550px; /* set a fixed height */
    overflow-y: auto;
  }
  
  #girlchild  .image {
    /* flex: 1; */
    padding: 10px;
    /* height: 30%; */
  }
  
  #girlchild .image img {
    width: 300px;
    
  }
  #girlchild h2{
    color: #00715d;
    font-size: 2rem;
    font-weight: 900;
  }
  #girlchild .form{
    background-color: #aecfc7;
    padding:20px;
    width: 50%;
    box-shadow: 0px 0px 4px #000000;
    border: 1px solid #ccc;
    border-radius: 20px;
    opacity: 1;
    color:#11443a;
}
#girlchild .formdetails{
    display: flex;
    flex-direction: column;
}
#girlchild .input{
    display: flex;
    align-items: center;
    margin: auto;
}
#girlchild .Submit{
    display: flex;
    align-items: center;
    justify-content: center;
}
#girlchild button{
    color: #fff;
    background: #00715d;
    border-radius: 100px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border:1px solid #000;
    transition: background-color 0.3s ease; /* Smooth background color transition */
 &:hover {
  background-color: #05261b; /* Darker green for button hover */
} 
  }

  @media screen and (max-width:768px){
    #girlchild .details {
      width: 60%;
      margin:0;
      padding:5px;
      border:5px solid #00715d;
    }
    #girlchild .image img {
      width: 250px;
      
    }
  }